section #about{
    background-color: #444444
}
section .about-table{
    width: 300px;
    border: 1px;
    height: 500px;
    background-color: #8c8080;
    border-radius: 80px / 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid red;
}
section .about-table-td01{
    width: 150px; height: 150px;
    border: 1px solid red
   
}
section .about-table-input{
    width: 60px; height: 20px;
}