 *{
    margin: 0;
    padding: 0;
}
body{
    font-family: "맑은 고딕", "돋음";
    font-size: 12px;
    color: #444444;
    background-color: white;
    width: 100%;
}
ul{
    list-style-type: none;
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: #444444;
}
.clear{
    clear: both;
}
header{
    height: 150px;
}
header #top{
    width: 990px;
    margin: 0 auto;
}
header #logo{
    float: left;
    margin: 20px 0 0 0;
}
header #search{
    float: left;
    font-size: 12px; font-family: "Sans-serif";
    color: #96c11f;
    margin: 60px 0 0 190px;
}
header #search-title{
    float: left;
    margin-top: 6px;
}
header #search-form{
    float: left;
}
header #search-form input{
    width: 350px; height: 20px; 
    background-color: #f2f0f0;
    border-bottom: 1px solid #cccccc;
    margin-left: 5px;
}
#search-button{
    float: left;
    margin: 3px 0 0 3px;
}
header #top-menu{
    float: right;
    margin-top: 45px;
}
header #top-menu a:link{
    font-size: 11px;
    color: #888888;
}
header #top-menu a:visited{
    font-size: 11px;
    color: #888888;
}
header #top-menu a:hover{
    font-size: 11px;
    color: #888888;
}
header #top-menu a:active{
    font-size: 11px;
    color: #888888;
}
header #top-menu li{
    display: inline;
    margin-left: 10px;
}
header #main-menu{
    height: 38px;
    margin-top: 15px;
    background-color: #4e4c4d;
    border: 1px solid red;
}

header #main-menu ul{
    width: 100%;
    margin: auto;
    padding-top: 12px;
    text-align: center;
}
header #main-menu li{
    display: none;
    margin: 0 70px;
}
header #main-menu a:link{
    color: #ffffff;
}
#main-menu a:visited {
    color: #ffffff;
}
#main-menu a:hover{
    color: #ffffff;
}
#main-menu a:active{
    color: #ffffff;
}